/**------------------- percentage --------------------**/
#percentageChart{
  background: url('../image/white-pattern.png');
  background-repeat: repeat;
}

#percentageChartdiv{
  width:94%;
  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  justify-content: space-between;
}

#percentageChartdiv>div{
  padding-top:40px;
  max-width: 160px;
  padding-bottom:40px;
}

.percentageP{
  margin-top:-35px;
}

.percentageNumber0, .percentageNumber{
  font-family: avantgarde_med;
  font-size: 70px;
  letter-spacing: 1.1px;
  color: #ad0409;
}

.percentage{
  font-family: avantgarde_bold;
  font-size: 45px;
  color: #ad0409;
}




/**------------------- types of verbal abuse --------------------**/
.typesTitle{
  /*subtitle-allcaps-types of verbal abuse*/
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.1px;
    color:#231f20;

    display: flex;
   	justify-content: space-between;
}

.typesTitle:hover{
  color:#ef6f70;
}

.typesTitleRed{
  color:#ef6f70;
}

#cssmenu hr{
  margin-top: 20px;
  margin-bottom: 20px;
}

#typeSection{
  background-color: white;
}

#typeSection>div{
  width:94%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#typeSection>div>div{
  display: flex;
  justify-content: space-between;
}

#types{
  padding-top:50px;
  padding-bottom: 50px;
  max-width: 500px;
  width: 100%;
}

#cssmenu ul ul {
  padding-right:10px;
  padding-bottom: 5px;
  display: none;

}

#floatQuote{
  max-width: 260px;
  margin-top:260px;
}



/**------------------- impacts --------------------**/
#impacts{
  width:94%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  padding-top:30px;
  padding-bottom:15px;
}

#impacts>div{
  width:100%;
  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
}

/**------------------- curve elements --------------------**/
.curveyElementChap2{
	top: 0;
	right: 0;
	height:auto;
	left: 0;
	overflow-x: hidden;
	float:right;
}

.curveWrapperChap2{
	right: 0;
	top:0;
	left: 0;
	overflow-y: hidden;
	z-index: -90;
	position: absolute;
	display: block;
}

.curve_svgchap2 {
  float: right;
  margin-top: 380px;
  margin-right: -100px;
  /*width: 100%;
  height: 100%;*/
}

@media(max-width: 1570px){
  .curve_svgchap2{
    margin-right: -200px;
  }
}

@media(max-width: 1200px){
  .curve_svgchap2{
    margin-top:500px;
  }
}

@media(max-width: 900px){
	.curveWrapperChap2{
		display:none;
	}
}
