#floatQuotechap3{
  max-width: 200px;
  margin-top:100px;
  float:right;
  margin-right:20px;
}

.sectionbox{
  min-height:480px;
  max-width:900px;
  width:100%;
  padding:28px;

  background-color:white;
  border:2px #ef6f70 solid;
}

.sectionContent{
  margin-top:24px;
}

/*.sectionContent>img{
  max-width:650px;
  min-height:200px;
}*/

a{
  color:#231f20;
}

a:hover{
  color:#ef6f70;
}

.two-column{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    min-height:380px;
    margin-top:20px;
    max-width:650px;
}

.two-column>p{
  max-width:300px;
}

.titles{
   font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.1px;
    color:#231f20;
}

.basedon{
  letter-spacing: 0.03em;
  font-weight: 400;
  color:gray;
  margin-top:10px; 
  text-align: right;
}


/*------------------section301-----------------*/
#section301{
  margin-top:50px;
  padding-bottom:50px;
  padding-top:40px;

  background: url('../image/white-pattern.png');
  background-repeat: repeat;
}

#section301div{
  width:94%;
  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  justify-content: space-between;
}

#section301div>div{
  margin-left:auto;
  margin-right:auto;
}

.sectionnav>h6{
  display: flex;
  justify-content: space-between;
}

.sectionnav>h6>div{
  padding-bottom:4px;
  padding-left:20px;
  margin-left:20px;
  border-left: 2px solid #979797;
}

.sectionnav>h6>div:first-child{
  padding-left:0px;
  margin-left:0px;
  border-left:none;
}

.navRed{
  border-bottom: #ef6f70 solid 2px;
}

.navRed a{
  color:#ef6f70;
}
