#floatQuotechap3{
  max-width: 200px;
  margin-top:100px;
  float:right;
  margin-right:20px;
}


.bottom26{
  margin-bottom:26px;
}


#whiteBgQuote1, #whiteBgQuote2{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  background-color:white;
}

.whiteBgQuote{
  width:94%;
  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
  padding-top:53px;
  padding-bottom:53px;
}

.whiteBgQuote>h5{
  max-width:774px;
  margin-left:auto;
  margin-right:auto;
}

.top10{
  margin-top:10px;
}




.sectionbox{
  min-height:500px;
  max-width:900px;
  width:100%;
  padding:28px;

  background-color:white;
  border:2px #ef6f70 solid;
}

.sectionContent{
  margin-top:30px;
  min-height: 300px;
}

.sectionContent img{
  margin-bottom:15px;
}

a{
  color:#231f20;
}

a:hover{
  color:#ef6f70;
}



/*------------------columns-----------------*/

.three-column, .three-columns, .three-columnss{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-fill: auto; /* Chrome, Safari, Opera */
    -moz-column-fill: auto; /* Firefox */
    column-fill: auto;

    -webkit-column-gap: 35px; /* Chrome, Safari, Opera */
    -moz-column-gap: 35px; /* Firefox */
    column-gap: 35px;

    
    margin-top:20px;
    max-width:840px;
}

.three-column{
  height:330px;
}

.three-columns{
  height:340px;
}

.three-columnss{
  height:380px;
}

.three-column>p{
  max-width:300px;
}


/*-----------------------------*/





.titles{
   font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.1px;
    color:#231f20;
}

.basedon{
  letter-spacing: 0.03em;
  font-weight: 400;
  color:gray;
  margin-top:10px; 
  text-align: right;
}


/*------------------section301-----------------*/
#section301{
  margin-top:50px;
}

#section301, #section302{
  padding-bottom:50px;
  padding-top:40px;

  background: url('../image/white-pattern.png');
  background-repeat: repeat;

  margin-left:auto;
  margin-right:auto;
}

#section303{
  padding-bottom:50px;

  margin-left:auto;
  margin-right:auto;
}

#section303>div:first-child{
  padding-top:40px;
  background: url('../image/white-pattern.png');
  background-repeat: repeat;
  height:300px;
}

#section301div{
  width:94%;
  max-width: 956px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  justify-content: space-between;
}

#section302div, #section303div{
  max-width: 956px;
  margin-left:auto;
  margin-right:auto;
}

#section303div{
  margin-top:-300px;
}

#section301div>div, #section302div>div, #section303div>div{
  margin-left:auto;
  margin-right:auto;
}

.sectionnav>h6{
  display: flex;
  justify-content: space-between;
}

.sectionnav>h6>div{
  padding-right:20px;
  margin-right:20px;
  border-right: 2px solid #979797;
}

.sectionnav>h6>div:last-child{
  padding-right:0px;
  margin-right:0px;
  border-right:none;
}

.sectionnav h6>div>div{
padding-bottom:4px;
}

.navRed{
  border-bottom: #ef6f70 solid 2px;
}

.navRed a {
  color:#ef6f70;
}


/*------------------section302-----------------*/

.grayLineChap3{
  width: 2px;
  height:20px;
  background-color:gray;
}

.sectionnavv h6>div{
    width:100%;
    max-width: 900px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.sectionnavv h6>div>div>div{
padding-bottom:4px;
}

.approachText{
  font-size:11px;
  line-height: 12px;
  letter-spacing: 0.3px;
  font-weight:700;
}

/*-------------------section303-------------------*/

.bottom5{
  margin-bottom: 5px;
}

.sec303title{
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.1px;
    color:#231f20;
}

.three-span{
  -webkit-column-span: all; /* Chrome, Safari, Opera */
  column-span: all;
}
